# Node.js
node_modules/

# Serverless build artifacts
.serverless/

# IDEs
.vscode/

# TypeScript build output
dist/
build/

# Env files
.env
.env.*.local

#Anotações
features/
anotações/
CLAUDE.md



